.content {
  display: flex;
  margin: 3.5vh 0;
  padding: 4.5vh 4.6vw;
  border-radius: 0.5vw;
  box-shadow: 0 0 0.3vw 0 rgba(0, 0, 0, 0.25);
  align-items: center;
}

.content:hover:not(.runButton) {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.content div {
  text-align: center;
}

.content > div:nth-child(1) {
  flex-basis: 20%;
}
.content > div:nth-child(2) {
  flex-basis: 35%;
}
.content > div:nth-child(3) {
  flex-basis: 35%;
}
.content > div:nth-child(4) {
  flex-basis: 10%;
}

.runButton > img {
  height: 7vh;
  margin: 0 0.2vw;
}
.run:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.stop:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.gitImage {
  height: 7vh;
}
