.content {
  display: flex;
  margin: 30px 0;
  padding: 40px 80px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
}

.content div {
  text-align: center;
}

.content > div:nth-child(1) {
  flex-basis: 20%;
}
.content > div:nth-child(2) {
  flex-basis: 35%;
}
.content > div:nth-child(3) {
  flex-basis: 35%;
}
.content > div:nth-child(4) {
  flex-basis: 10%;
}

.runButton > img {
  height: 7vh;
  margin: 0 3px;
}

.gitImage{
  height: 7vh;
}