.runButtonIcon {
  width: 2vw;
  margin-right: 0.5vw;
  cursor: pointer;
}

.fileButton {
  color: #6096b4;
  font-weight: 600;
  background-color: #eee9da;
  border-radius: 10px;
  padding: 0.8vh 1vw;
  margin-right: 0.3vw;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.fileButton:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.btnIcon {
  height: 4vh;
}

.buttons {
  display: inline-flex;
  align-items: flex-end;
}

.buttons > div {
  display: inline-flex;
  align-items: center;
}

.buttons > div > img {
  margin-left: 1vh;
}

.bottom {
  /* background-color: blue; */
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerButton {
  display: inline-flex;
  align-items: center;
  margin-bottom: 2vh;
}

.containerButton > div {
  display: inline-flex;
}

.container {
  width: 40%;
  margin: 1% 3%;
}

.containerButton {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.projectName {
  font-size: 5vh;
  font-weight: 600;
}

.ningx {
  color: #6096b4;
  font-weight: 600;
  background-color: #eee9da;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 0 5px;
}

.compose {
  color: #6096b4;
  font-weight: 600;
  background-color: #eee9da;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 0 5px;
}

.box {
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 4% 6%;
}

.boxTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%; /* 테이블의 너비를 설정 */
}

.boxTop table {
  flex: 80;
}

.boxTop div {
  flex: 20;
}

td {
  padding: 2vh;
}

.serviceName {
  font-weight: 600;
}

.line {
  width: calc(100% + 7%);
  margin-left: -3%;
  margin-right: -7%;
  margin-top: 3%;
  margin-bottom: 4%;
  height: 0.5vh;
  background-color: rgba(0, 0, 0, 0.05);
  /* box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25); */
}

.boxBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
}

.running {
  color: #57965c;
  font-weight: 600;
}

.stopped {
  color: #ff5370;
  font-weight: 600;
}

.log {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.boxBottom > div > img {
  margin-right: 0.5vw;
  margin-top: 0.5vh;
}
