.page {
  height: 130%;
  width: 80%;
  position: relative;
  top: 15%;
  left: 20%;
  margin-bottom: 8%;
}

.tapBox {
  width: 85%;
  margin: 3% auto;
  display: flex;
}

.selectedTap {
  padding: 3px;
  background-color: red;
}

.tap {
  padding: 3px;
  background-color: blue;
}
