.page {
  height: 150%;
  width: 80%;
  position: relative;
  top: 15%;
  left: 20%;
}

.boxFrame {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3%;
  padding: 0 3%;
  border-radius: 1vw;
}

.key {
  display: inline-flex;
  flex: 30%;
  font-weight: bold;
  align-items: center;
}

.desc {
  flex: 70%;
}

.selected {
  opacity: 1;
}

.unselected {
  opacity: 0.3;
}

.accessinfo {
  font-size: 130%;
  margin-right: 1%;
  font-weight: 600;
}

.access {
  display: flex;
  align-items: center;
}

.access > div {
  display: inline-flex;
}

.selection > img {
  margin: 0 1%;
  cursor: pointer;
}

.fileFrame {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1%;
  padding: 1% 3%;
  background-color: #eee9da;
  border-radius: 10px;
}

.fileTop {
  display: flex;
}

.fileBottom {
  display: flex;
}

.addfileButton {
  margin-left: -1%;
  display: inline-flex;
  color: white;
  background-color: #93bfcf;
  border-radius: 10px;
  padding: 1.5% 2.5%;
  width: 15%;
  text-align: center;
  justify-content: center;
  cursor: default;
}

.file {
  display: inline-flex;
  width: 100%;
  margin-top: 2%;
}

.filePath {
  flex: 45;

  /* width: calc(100% + 3%); */
  margin-left: -1%;
  margin-right: 2%;
  height: 90%;
  border: 0px solid;
  border-radius: 10px;
  outline: none;
  padding: 1.2% 1%;
  font-size: 100%;
  font-weight: 500;
}

.filePath::placeholder {
  color: #d9e1e8;
  opacity: 1;
  font-size: 100%;
  font-weight: 500;
}

.fileName {
  flex: 45;
  margin-right: 2%;
}

.fileRemove {
  font-weight: bold;
  cursor: default;
}

.whiteSpace {
  height: 4%;
}
