.content {
  margin: auto auto;
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.title > img {
  height: 20vh;
}

.logo {
  width: 8.54vw;
}

.dobie {
  color: white;
  font-size: 14vh;
  font-weight: 750;
  margin-left: 1%;
}

.loginInput {
  width: 100%;
  height: 7vh;
  margin: 1vh 0;
  border: 0.3vw solid #6096b4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0;
  outline: none;

  padding-left: 2%;
  font-size: 130%;
  font-weight: 600;
  color: #4a7a94;
}

.loginInput::placeholder {
  color: #d9e1e8;
  opacity: 1;
  font-size: 100%;
  font-weight: 500;
}

.button {
  width: 102%;
  height: 7vh;
  margin: 1vh 0;
  color: #6096b4;
  border: 0.3vw solid #4a7a94;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login {
  text-align: center;
  color: white;
  font-size: 130%;
  font-weight: 700;
}
