.container {
  height: 100%;
  margin: auto auto;
  display: flex;
  /* 설정 */
  position: relative;
}

.content {
  height: 450px;
  margin: 0 auto;
  display: inline-flex;
  position: absolute;
  top: 25%;
  left: 30%;
}

.mascot {
  display: flex;
  align-items: center;
  align-items: flex-start;
  margin: 0 auto;
}

.dobie {
  color: white;
  font-size: 100px;
  font-weight: 750;
  margin-left: 10px;
}

.eng {
  color: white;
  font-size: 20px;
}

.kor {
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.line1 {
  margin-left: 50px;
}

.line2 {
  margin-left: 100px;
}

.line3 {
  margin-left: 150px;
}

.line4 {
  margin-left: 200px;
}
