.page {
  /* height: 82%; */
  width: 83%;
  position: relative;
  top: 10%;
  left: 17%;
  display: flex;
  flex-direction: column;
}

.top {
  /* background-color: red; */
  display: inline-flex;
  padding: 2% 8%;
  justify-content: space-between;
}

.text {
  margin-right: 1vh;
}

.projectName {
  font-size: 5vh;
  font-weight: 600;
}

.buttons {
  display: inline-flex;
  align-items: flex-end;
}

.buttons > div {
  display: inline-flex;
  align-items: center;
}

.buttons > div > img {
  margin-left: 1vh;
}

.webhook {
  height: 40%;
  color: white;
  font-weight: 600;
  background-color: #e5aa17;
  border-radius: 10px;
  padding: 6px 15px;
  margin: 0 5px;
  cursor: pointer;
}

.webhook:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.edit {
  height: 40%;
  color: white;
  font-weight: 600;
  background-color: #6096b4;
  border-radius: 10px;
  padding: 6px 15px;
  margin: 0 5px;
  cursor: pointer;
}

.edit:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.remove {
  height: 40%;
  color: white;
  font-weight: 600;
  background-color: #4a7a94;
  border-radius: 10px;
  padding: 6px 15px;
  margin: 0 5px;
  cursor: pointer;
}

.remove:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.ningx {
  color: #6096b4;
  font-weight: 600;
  background-color: #eee9da;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 0 5px;
  cursor: pointer;
}

.compose {
  color: #6096b4;
  font-weight: 600;
  background-color: #eee9da;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 0 5px;
  cursor: pointer;
}

.containerButton {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

.containerButton > div {
  display: inline-flex;
}

.fileButton {
  color: #6096b4;
  font-weight: 600;
  background-color: #eee9da;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 0 5px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.fileButton:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.runButton > img {
  margin: 0 3px;
  cursor: pointer;
}

.mid {
  /* background-color: yellow; */
  display: inline-flex;
  align-items: center;
  padding: 0 8%;
  margin-bottom: 3%;
  justify-content: space-between;
}

.mid > div {
  align-items: center;
}

.mid > div {
  display: inline-flex;
}

.bottom {
  /* background-color: blue; */
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  width: 40%;
  margin: 1% 3%;
}

.containerButton {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.box {
  /* background-color: red; */
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.boxTop {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%; /* 테이블의 너비를 설정 */
}

.boxTop table {
  flex: 80;
}

.boxTop div {
  flex: 20;
}

td {
  padding: 8px;
}

.serviceName {
  font-weight: 600;
}

.line {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.05);
  /* box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25); */
}

.boxBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.running {
  color: #57965c;
  font-weight: 600;
}

.stopped {
  color: #ff5370;
  font-weight: 600;
}

.log {
  display: inline-flex;
  align-items: center;
}

.boxBottom > div > img {
  margin-right: 5px;
  margin-top: 1px;
}
