.boxFrame {
  display: flex;
  flex-direction: row;
  background-color: #eee9da;
  width: 80%;
  margin: 1% auto;
  padding: 0 3%;
  border-radius: 10px;
  align-items: center;
}

.key {
  width: 30%;
  font-weight: 600;
}

.value {
  width: 65%;
}

.iconBox {
  display: flex;
  gap: 1vw;
}
.icon {
  opacity: 0.8;
  width: 1.5vw;
}

.icon:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
