.boxFrame{
    display: flex;
    flex-direction: row;
    background-color: #EEE9DA;
    width: 80%;
    margin: 1% auto;
    padding: 0 3%;
    border-radius: 10px;
}

.key{
    flex: 30;
    font-weight: 600;
}

.value{
    flex: 70;
}
  
  .radioGroup {
    display: flex;
    align-items: center;
  }
  
  .radioItem {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .radioIcon {
    width: 20px;
    height: 20px;
  }
  