.boxFrame {
    display: flex;
    flex-direction: row;
    background-color: #eee9da;
    width: 80%;
    margin: 1% auto;
    padding: 0 3%;
    border-radius: 1vw;
    align-items: center;
  }
  
  .key {
    flex: 30;
    font-weight: 600;
  }
  
  /* input 태그 */
  .value {
    flex: 70;
  
    width: calc(100% + 3%);
    margin-left: -1%;
    margin-right: -2%;
    height: 90%;
    border: 0px solid;
    border-radius: 1vw;
    outline: none;
    padding: 1% 1%;
    font-size: 100%;
    font-weight: 500;
  }
  
  .value::placeholder {
    color: #d9e1e8;
    opacity: 1;
    font-size: 100%;
    font-weight: 500;
  }
  
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: default;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #4CAF50;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  