.boxFrame {
  display: flex;
  flex-direction: row;
  background-color: #eee9da;
  width: 80%;
  margin: 1% auto;
  padding: 0 3%;
  border-radius: 1vw;
  align-items: center;
}

.key {
  flex: 30;
  font-weight: bold;
}

.list {
  flex: 70;
}

.value {
  display: inline-flex;
  background-color: white;
  color: black;
  border-radius: 1vw;
  padding: 0.45vw 2vh;
  margin: 0 0.4vw;
  cursor: pointer;
  transition: background-color 0.3s;
}

.selectedValue {
  display: inline-flex;
  background-color: #93bfcf; /* 선택된 아이템 배경색 변경 */
  color: white; /* 선택된 아이템 글자색 변경 */
  border-radius: 1vw;
  padding: 0.45vw 2vh;
  margin: 0 0.4vw;
  cursor: pointer;
  transition: background-color 0.3s;
}
