.container{
    width: 17%;
    background-color: #D9E1E8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /* padding-top: 5%; */
    position: fixed;
    top: 8%;
    height: 92%;
}
.list {
   
    text-align: left;
    margin: 0 0 0 20%;
    color: #93BFCF;
}
.text {
    margin-bottom: 50%;
    font-size: calc(0.6vw + 1rem);
    color: #93BFCF;
}
.text2 {
    margin-bottom: 50%;
    font-size: calc(0.6vw + 1rem);
    color: #6096B4;
    font-weight: bold;
}
.img {
    width: 70%;
    margin: 0 auto;
    display: inline-flex;
    align-items: flex-end;
}

.list > p{
    cursor: pointer;
}

.buttons{
    align-items: flex-end;
    justify-content: center;
}

.buttons > div{
    align-items: center;
}

.buttons > div > img{
    margin-left: 1vh;
}

.add{
    display: flex;
    height: 15%;
    color: white;
    font-weight: 600;
    background-color: #E5AA17;
    border-radius: 10px;
    padding: 10% 15px;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.add:hover{
    opacity: 0.8;
    transform: scale(1.05); 
    transition: 0.3s ease-in-out; 
}

.add > img {
    height: 3.5vh;
}

.home{
    display: flex;
    height: 15%;
    color: #6096B4;
    font-weight: 600;
    background-color: #EEE9DA;
    border-radius: 10px;
    padding: 10% 15px;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.home:hover{
    opacity: 0.8;
    transform: scale(1.05); 
    transition: 0.3s ease-in-out; 
}

.home > img {
    height: 3.5vh;
}

