.nav{
    margin: 0 auto;
    height: 18%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6096B4;
  }
  
  .dobie {
    color: white;
    font-size: 10vh;
    font-weight: 900;
    margin-left: 10px;
    cursor: pointer;
  }
