.modalCloseBtn {
    cursor: pointer;
    margin-left: auto;
  }
  .modalContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(74, 122, 148, 0.5);
    /* background-color: 4A7A94; */
    /* opacity: 0.5; */
    z-index: 2;
  }
  .modalContent {
    background-color: #ffffff;
    width: 30%;
    height: 50%;
    padding: 15px;
    border-radius: 30px;
    /* display: block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .runtext{
    color: #4FC153;
    font-size: 150%;
    font-weight: 600;
  }

  .stoptext{
    color: #FF6699;
    font-size: 150%;
    font-weight: 600;
  }