.modalCloseBtn {
  cursor: pointer;
  margin-left: auto;
}
.modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(74, 122, 148, 0.5);
  /* background-color: 4A7A94; */
  /* opacity: 0.5; */
  z-index: 2;
}
.modalContent {
  background-color: #ffffff;
  width: 45%;
  height: 70%;
  padding: 15px;
  border-radius: 30px;
  /* display: block; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nginxConf {
  white-space: pre-wrap;
  height: 55vh;
  overflow-y: auto;
}
.modalBody {
  display: flex;
  justify-content: center;
}
.modalhead {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.closeImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
