.guideFrame {
  margin-left: 5vw;
  margin-bottom: 10vh;
}

.header {
  margin-bottom: 2vh;
}
.section {
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.title {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 2.5vw;
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 2vh;
}
.dobieIcon {
  width: 5vw;
}
.strength {
  font-size: 2vw;
  font-weight: 600;
  line-height: 180%;
}
.normal {
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 180%;
}

li {
  margin-left: 1vw;
  font-size: 1vw;
  line-height: 170%;
}

.structureImg {
  width: 45vw;
}
.link {
  text-decoration: none;
}
