.guideFrame {
  margin-left: 5vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.header {
  margin-top: 3vh;
  margin-bottom: 2vh;
}
.title {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 2.5vw;
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 2vh;
}
.normal {
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 180%;
}
.section {
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.strength {
  font-size: 2vw;
  font-weight: 600;
  line-height: 180%;
}
.navbarImg {
  width: 20vw;
}
.imgBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60vw;
}

.caption {
  width: 100%;
  font-size: 0.8vw;
  font-weight: 600;
  color: #898989;
  text-align: center;
}
