.guideFrame {
  margin-left: 5vw;
}
.header {
  margin-top: 3vh;
  margin-bottom: 2vh;
}
.title {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 3vw;
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 2vh;
}

.normal {
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 180%;
}

.strength {
  font-size: 2vw;
  font-weight: 600;
  line-height: 180%;
}
