html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; 페이지 스크롤 방지 */
}
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; 페이지 스크롤 방지 */
}

::-webkit-scrollbar {
  display: none;
}