.topButton {
  margin: 150px 0px 60px 0px;
  padding: 0px 100px 0px 0px;
  display: flex;
  justify-content: flex-end;
}

.newpjtBtn {
  background-color: #eee9da;
  color: #6096b4;
  font-weight: bold;
  display: inline-flex;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  align-items: center;
}

.guideBtn {
  background-color: #6096b4;
  color: white;
  font-weight: bold;
  display: inline-flex;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  align-items: center;
}

.btnIcon {
  margin-left: 5px;
}
