.topButton {
  margin: 15vh 0px 10vh 0px;
  padding: 0px 10vw 0px 0px;
  display: flex;
  justify-content: flex-end;
}

.newpjtBtn {
  background-color: #eee9da;
  color: #6096b4;
  font-weight: bold;
  display: inline-flex;
  margin-right: 1%;
  padding: 1vh 1.5vw;
  border-radius: 1vw;
  align-items: center;
  cursor: pointer;
}

.newpjtBtn:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.guideBtn {
  background-color: #6096b4;
  color: white;
  font-weight: bold;
  display: inline-flex;
  padding: 1vh 1.5vw;
  border-radius: 1vw;
  align-items: center;
  cursor: pointer;
}

.guideBtn:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.btnIcon {
  height: 4vh;
  margin-left: 5px;
  margin-left: 0.4vw;
}
